:root {
    /*========== Colors ==========*/
    --text-color-1: #515151;
    --text-color-2: #626262;
    --border-color: #7a7a7a;
    --white-color: #ffff;
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    background: black;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}



.nav-logo img{
    height: 70px;

}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu li Link{
    text-decoration: none;
}


.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 50px;
    background: var(--text-color-2);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid white;
    border-radius: 75px;
    color: var(--text-color-1);
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    -ms-border-radius: 75px;
    -o-border-radius: 75px;
}

.nav-login-cart button:hover{
    background: black;
    color: white;
    border: 1px solid var(--text-color-1);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
}